button{
    color: black;
    padding: 39px;
    background-color: brown;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    }



    .button1{
        background-color: blue;

    }
    .button3{
        font-style: italic;

    }
